#game-container {
    position:absolute;
    width: 700px;
    height: 80%;
    border: 1px solid #000;
    top:50%;
    left:50%;
    background-color: cyan;
    transform: translate(-50%,-50%);
    
}

.brick {
    position: absolute;
    width: 80px;
    height: 30px;
    padding: 1px;
    left: 0;
    top: 0;
    border: 1px solid black;
    font-size: 1.8em;
    text-align: center;
    color: black;
    line-height: 40px;
}


.score, 
.lives {

    font-size: 30px;
} 